.mainSection {
    height: 362px;
    background-color: #1A1A1A;
}

.sectionTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    font-size: 20px;
}

.sectionTitle h4 {
    font-size: 14px;
}

.sectionTitle h4 i {
    font-size: 9px;
    transform: translate(0, -1px);
}

.sectionTracks {
    display: flex;
    justify-content: space-between;
    margin-left: -13px;
    margin-right: -13px;
    margin-bottom: 45px;
    overflow-x: auto;
    /* white-space: nowrap; */
    scroll-snap-type: x mandatory;
    /* scroll-padding: 0 24px; */
}


.sectionTracks::-webkit-scrollbar {
    display: none;
}

.trackSection {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    padding: 10px;
    width: 214px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: 150ms;
    scroll-snap-align: start;
}

.trackSection:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.trackSection div {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.trackSection div:hover::after {
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.trackSection img {
    border-radius: 12px;
    margin-bottom: 5px;
}

.trackItem {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.trackItem:hover {
    text-decoration: underline;
}

#price {
    color: #0c7ee7;
    text-decoration: none;
}

#title {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

#author {
    color: #bebebe;
}