dialog {
    width: 400px;
    margin: 10rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 100;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(8px);
}

dialog+.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}