.footerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 45px 0px 70px 0px;
}

.footerTitle {
    margin-bottom: 11px;
}

.footerItem {
    margin-bottom: 8px;
}

.footerLink {
    color: #8f8f8f;
    font-size: 16px;
    transition: 150ms;
}

.footerLink:hover {
    color: inherit;
    /* text-decoration: underline; */
}

.footerTitle {
    font-size: 20px;
    font-weight: 700;
}

.footerCopyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    color: #8f8f8f;
    border-top: 0.5px solid #8f8f8f;
}